* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('galaxy 8 ball pic.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 130vh;
  overflow: hidden;
}

.label {
  font-weight: bold;
  color: white;
}

h1 {
  text-align: center;
  color: white;
}
h2 {
  color: white;
  text-align: center;
}
form {
  text-align: center;
  position: relative;
}
.question {
  position: relative;
  z-index: 999999;
}
.clickMe {
  position: relative;

  text-align: center;
  /*width: 50%;*/
  margin: auto;
  display: block;
  width: 100px;
  z-index: 1;
}
/*
.clickMe:active {
  transform: translate(-50%, 3px);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
*/

.picBox {
  position: relative;
  height: 1500px;
  margin-bottom: 500px;
}

.magic-8-ball {
  /*
  width: 50%;
  margin: auto;
  display: block;
  */

  position: absolute;

  height: 900px;
  left: 50%;
  transform: translate(-50%, -18%);
  z-index: 0;
}

.answer {
  display: block;
  /*
  margin-left: auto;
  margin-right: auto;
  */
  top: 13.5%;
  left: 50%;
  position: absolute;
  z-index: 1;
  transform: translate(-50%);
  width: 90px;
  line-height: 2rem;
  background-color: rgb(65, 41, 224);
  color: white;
  border: none;
  text-align: center;
}

.hidden {
  display: none;
}
